
body{
    background-color: black;
}

#container{
    align-items: center;
    margin-left: 35%;
    margin-top: 100px;
}

button{
    font:  sans-serif;
    width: 10em;
    height: 2rem;
    font-weight: bold
}
button:hover{
    cursor:pointer
}
h2{
    color: aliceblue;
    margin-left: 130px;
    margin-bottom: -50px;
    font-size: 50px;
}
#clock{

}
#clock img{
    width: 46px;
    margin-left: 290px;
    }

h1{
    margin-left: 135px;
    color: aliceblue;
    margin-top: 93px;
    
}
#start-btn{
    color: aliceblue;
    background-color: green;
}
#start-btn:hover{
  background-color: rgb(50, 183, 50);
}

#pause-btn{
    color: aliceblue;
    background-color: rgb(123, 141, 123);
}
#pause-btn:hover{
    background-color: rgb(144, 159, 144);
  }

#stop-btn{
    color: aliceblue;
    background-color: rgb(165, 24, 24);
}
#stop-btn:hover{
    background-color: rgb(208, 36, 27);
  }


  
@media(max-width: 480px){

    h1{
     margin-left: -26px;
    }
    h2{
        color: aliceblue;
        margin-left: -5px;
        margin-bottom: -50px;
        font-size: 34px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
    }
    #clock{
    margin-left: -194px;
    
    }
    #clock img{
        width: 55px;
    }
#start-btn{
    margin-left: -54px;
    width: 63px;
}
#pause-btn{
    width: 63px;
}
#stop-btn{
    width: 63px;
}
}